{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div class="text-center">
        <br>
        <h1>About</h1>
        <br>
        <h1>Hi!</h1>
        <img src="/static/hello.gif" alt="hi">
        <br>
        <br>
        <p>Hi, I'm <strong>adenosinetp10</strong>, I like to code, watch anime and play computer games.</p>
        <br>
    </div>
    <div class="form">
        <br>
        <hr>
        <br>
        <h3>Education</h3>
        <br>
        <p>I am currently in final year of my college studying <strong>Information Technology</strong>.</p>
        <br>
        <h3>Languages</h3>
        <br>
        <p>I can speak and write <strong>Tamil</strong> & <strong>English</strong> fluently.</p>
        <p>As for programming languages, please take a look at the below information.</p>
        <h5>Python</h5>
        <div class="progress">
            <div class="progress-bar bg-progress" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>C</h5>
        <div class="progress">
            <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>Java</h5>
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5>HTML</h5>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h3>Projects</h3>
        <br>
        <ul>
            <li><strong>Akinator-Bot</strong> - Telegram Bot to play akinator bot.</li>
            <li><strong>Assault-Cube trainer</strong> - C++ commandline trainer for AssaultCube Trainer.</li>
            <li><strong>Library-Genesis Bot</strong> - Telegram Bot to browse LibraryGenesis website.</li>
            <li><strong>GDrivePlayer wrapper</strong> - A scrapper wrapper to scrape the webiste of databasegdriveplayer.co</li>
        </ul>
    </div>
    <br>
    <div class="text-center">
        <p>Check out source code of my projects on <a href="github.com/adenosinetp10">GitHub</a></p>
        <p>Contact me on <a href="t.me/adenosinetp10">Telegram</a> & through <a href="mailto:adenosinetp10@gmail.com">E-mail</a></p>

    </div>
    <br>
{% endblock content %}
